.navbar {
  background-color: black;
  position: sticky !important;
  top: 0px;

}

.navbar_links {
  list-style: none;
  display: flex;
  margin: auto 35%;
}

.navbar_links > li {
  padding: 15px;
}
.navbar_links > li > a {
  color: white;
  text-decoration: none;
}

.navbar_links > li > a:hover {
  color: grey;
}

.navbar_active_link {
  color: burlywood !important;
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
